<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Erreur</title>
</head>
<body>
    <h1>Erreur</h1>
    <p><%= message %></p>
    <a href="/">Revenir à l'accueil</a>
</body>
</html>