<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Erreur</title>
</head>
<body>
    <%- include('header') %>
    <h1>Erreur</h1>
    <p><%= message %></p>
    <a href="/login/spotify">Se reconnecter</a>
</body>
</html>