<header>
    <a href="/">
        <img src="img/spotify.webp" alt="logo spotify" width="60px">
    </a>
    <div class="liens">
        <a href="/statistics">Statistiques</a>
        <div></div>
        <a href="/soon">soon</a>
        <div></div>
        <a href="/soon">soon</a>
        <div></div>
        <a href="/recommendations">Recommandations</a>
    </div>
    <a href="/logout">Se déconnecter</a>
</header>