<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <section>
        <h1 class="bvn">Bienvenue sur Spotifeur !</h1>
        <h3 class="desc">Découvre de nombreuses statistiques de ton écoute Spotify.</h3>
        <a class="btn" href="/login/spotify">Connexion avec Spotify</a>
    </section>
</body>
</html>