<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Spotifeur | Coming soon</title>
</head>
<body>
    <%- include('header') %>
    <h2>Coming soon...</h2>
</body>
</html>