header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin: 0 50px;
}

.liens {    
    display: flex;
}

.liens div {
    width: 80px;
}

#avatar {
    border-radius: 50%;
    width: 200px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80vh;
}